<header class="header">
  <div class="header__left">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="index.html">main</a>
        </li>
        <li class="nav__item">
          <a class="nav__link has-subnav" href="#">blog</a>
          <ul class="subnav">
            <li>
              <a class="subnav__link" href="#">lorem</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Lorem, ipsum.</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Lorem, ipsum.</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="text.html">about</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="works.html">advertising</a>
        </li>
      </ul>
    </nav>

    <button class="burger" id="sidebarToggle" type="button">
      <span>open nav</span>
    </button>
  </div>
  <div class="header__right">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="profile.html">profile</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="profile.html">quit</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="search.html" method="get">
      <input class="search__input" type="text" placeholder="search" />
    </form>
  </div>
</header>
