<aside class="sidebar" id="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/sidebar__header.jpg" alt="" />
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="assets/images/placeholder.png" alt="" />
      <div class="profile__header">
        <div class="profile__name">Lorem ipsum</div>
        <div class="profile__prof">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga?
        </div>
      </div>

      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <img src="assets/images/instagram.svg" alt="instagram" />
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <img src="assets/images/vk.svg" alt="vk" />
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank">
            <img src="assets/images/pinterest.svg" alt="pinterest" />
          </a>
        </li>
      </ul>
      <div class="profile__text">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae
          voluptates quisquam aut hic id, in dolorum necessitatibus labore nisi
          veniam!
        </p>
      </div>
      <!--  .profile-->
    </div>

    <nav class="nav nav--mobile">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="index.html">main</a>
        </li>
        <li class="nav__item">
          <a class="nav__link has-subnav" href="#">blog</a>
          <ul class="subnav">
            <li>
              <a class="subnav__link" href="#">lorem</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Lorem, ipsum.</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Lorem, ipsum.</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="text.html">about</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="works.html">advertising</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="profile.html">Profile</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="signin.html">Quit</a>
        </li>
      </ul>
    </nav>
    <!--  .sidebar -->
  </div>
  <div class="sidebar__footer">
    <a class="btn btn--red" href="works.html">lorem ipsum</a>
    <button class="btn btn--blue" type="button" data-modal="contact-modal">
      contacts
    </button>
  </div>
</aside>
